.points_table thead {
    width: 100%;
}

.points_table tbody {
    /* height: 562px; */
    overflow-y: auto;
    width: 100%;
}

.points_table thead tr{
    width: 99%;
}

.points_table tr{
    width: 100%;
}

.points_table thead, .points_table tbody, .points_table tr, .points_table td, .points_table th{
    display: inline-block;
}

.points_table thead{
    background: #5DBCD2;
    color: #fff;
}

.points_table tbody td, .points_table thead > tr> th{
    float: left;
    border-bottom-width: 0;
}

.points_table>tbody>tr>td, .points_table>tbody>tr>th, .points_table>tfoot>tr>td, .points_table>tfoot>tr>th, .points_table>thead>tr>td, .points_table>thead>tr>th{
    padding: 8px;
    /* height: 50px; */
    text-align: center;
    line-height: 32px;
    width: 50%;
    height: auto;
}

.odd {
    background: #ffffff;
    color: #000;
}

.even {
    background: #efefef;
    color: #277d90;
}

.points_table_scrollbar{
    height: 612px;
    overflow-y: scroll;
}

.points_table_scrollbar::-webkit-scrollbar-track{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);*/
    border-radius: 10px;
    background-color: #444444;
}

.points_table_scrollbar::-webkit-scrollbar{
    width: 1%;
    min-width: 5px;
    background-color: #F5F5F5;
}

.points_table_scrollbar::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #5DBCD2;
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}


@media only screen and (max-width: 800px) {
/* Force table to not be like tables anymore */
/* #no-more-tables table,
#no-more-tables thead,
#no-more-tables tbody,
#no-more-tables th,
#no-more-tables td,
#no-more-tables tr {
display: block;
} */

/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr {
position: absolute;
top: -9999px;
left: -9999px;
text-align:center;
}

#no-more-tables tr { border: 1px solid #ccc; }

#no-more-tables td {
/* Behave like a "row" */
border: none;
border-bottom: 1px solid #eee;
text-align: left;
width: 100%;
position: relative;
padding-left: 60%;
white-space: normal;
padding-bottom: 7%;
}

#no-more-tables td:before {
/* Now like a table header */
position: absolute;
/* Top/left values mimic padding */
left: 6px;
width: 55%;
padding-right: 10px;
white-space: normal;
text-align:left;
font-weight: 500;
}

/*
Label the data
*/
#no-more-tables td:before { content: attr(data-title); }
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.stickyFooter {
    /* position: relative;
    bottom: 0; */
    width: 100%;
    height: auto;
  }

  /* The sticky class is added to the header with JS when it reaches its scroll position */
.stickyHeader {
    /* position: fixed;
    top: 0; */
    width: 100%;
    height: auto;
  }

.row {
    display: inherit;
}

#no-more-tables-single td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    width: inherit;
    position: relative;
    padding-left: 0%;
    white-space: normal;
    text-align:center;
    padding-bottom: 4%;
    }
    